Requirements Traceability:- 
The design of this project was made aiming to fulfill optimally the requirements and goals specified in the RASD. The reader can find here under the list of these
requirements and goals and the designed component of the application which will assure its fulfillment.

[G1] Registration of a user to the system.
	-Login Manager.
	
[G2] Finding the locations of the available cars.
	-Map Manager.
	-Availability Helper.
	-Cars.

[G3] Reservation of a car.
	-Map Manager.
	-Selection Manager.
	-Reservation Manager.
	-Reservation Controller.
	-Availability Helper.
	-Cars.
	
[G4] Expiration of reservation and penalization.
	-Map Manager.
	-Selection Manager.
	-Reservation Manager.
	-Reservation Controller.
	-Availability Helper.
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.
	
[G5] Entry of registered user into the car.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Car.
	
[G6] Start charging and notifying the registered user.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.
	-SMS Gateway Interface.
	-SMS Gateway.
	
[G7] Stop charging the registered user and lock the car.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Parking Manager.
	-Parking Controller.
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.
	-SMS Gateway Interface.
	-SMS Gateway.
	
[G8] Safe areas for parking the reserved cars.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Parking Manager.
	-Parking Controller.
	
[G9] Detection of extra passengers and applying discount.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.

[G10] Detection of the battery status and applying discount.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.
	
[G11] Detection of special parking areas and applying discount.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Parking Manager.
	-Parking Controller.
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.
	
[G12] Checking parking and battery constraints and penalization.
	-Map Manager.
	-Ride Manager.
	-Ride Controller.
	-Parking Manager.
	-Parking Controller.(The Parking Controller does the battery check here).
	-Discout and Penalty Manager.
	-Discout and Penalty Controller.
	

